body {
  background:#0b141a;
  color:white;
  font-family: Arial;
  text-align:center;
}

.chat-box {
  height:300px;
  overflow-y:scroll;
  border:1px solid gray;
}

.message {
  padding:8px;
  margin:5px;
  border-radius:10px;
}

.sent {
  background:#005c4b;
  margin-left:auto;
}

.received {
  background:#202c33;
}

input, button {
  padding:10px;
  margin:5px;
}
